body{
	background-color:#f4f4f4;
	color:#555;
	font-family:arial, Helvitica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#795C34;
	color:#fff;
}

#navbar{
	background-color:#E5C298;
	color:#fff;
	height:65px;
}

#navbar ul{
	padding:0px;
	list-style:none;
}

#navbar li{
	display:inline;
}


#navbar a{
	color:#ffff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
		background-image:url('project.jpg');
		
		min-height:550px;
		
		background-position:left center;
		margin-bottom:20px;
		text-align:center;
		color:white;
		font-style:italic;
}

#main{
	float:left;
	color: #1B928C;
	width:60%;
	padding:0 30px;
	box-sizing:border-box;
	
}

#sidebar{
	float:right;
	background-image:url('sih.jpg');
	color:#D26C46;
    min-height: 400px;
    background-position:center center;
	width:40%;
	background-color:#333;
	font-family:arial;
	margin-top:10px;
	border-top:10px;
	text-align: center top;
	padding:-20px;
	box-sizing:border-box;
}

#main-footer{
	background:#795C34;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	
	#sidebar{
		width:100%;
		float:none;
	}
}
